header {
	overflow: hidden;
	background: transparent;
	font-family: 'IBM Plex Mono', monospace;
	height: 70px;
	padding: 10px;
	max-width: 100vw;
	display: flex;
	margin-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;
	position: sticky;
	transition: var(--trans-01);
	backdrop-filter: blur(0);
	border: transparent solid 1px;
	z-index: 1001;
	top: 10px;
	margin: 10px;
}

header h1 {
	font-family: 'JetBrains Mono', monospace;
}

header a {
	padding-bottom: 0;
	color: var(--main-fg-color);
	transition: var(--trans-03);
}

header a:hover {
	color: var(--color-primary);
}

header a:after {
    display: none;
}

header a:hover:after,
header a:focus:after {
    width: 0%;
}

.headermenu a {
	padding-top: 10px;
	padding-right: 10px;
	color: var(--color-primary);
}

.headermenu a {
	font-family: 'JetBrains Mono', monospace;
}

.headermenu a::before {
	content: "# "
}

.headermenu a:after {
    background-color: var(--color-primary); /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.headermenu a:hover:after,
.headermenu a:focus:after {
    width: 100%;
}

header.scrolled {
	background-color: var(--header-background);
    border: 1px solid var(--gray);
    backdrop-filter: blur(6px);
	top: 10px;
	margin: 10px;
	border-radius: 10px;
}

.burger__btn {
	display: none;
	flex-direction: column;
	padding-bottom: 6px;
	background: var(--invert-bg-color);
	color: var(--invert-fg-color);
	cursor: pointer;
	border-radius: 3px;
}

.burger__btn span {
	width: 30px;
	height: 2px;
	border-radius: 3px;
	margin-top: 6px;
	background: var(--invert-fg-color);
	transition: var(--trans-03);
}

.burger__btn.closed span:nth-last-child(1) {
	transform: translateY(-8px) rotate(45deg);
}

.burger__btn.closed span:nth-last-child(2) {
	opacity: 0;
}

.burger__btn.closed span:nth-last-child(3) {
	transform: translateY(8px) rotate(-45deg);
}
	

@media screen and (max-width: 600px) {
	header h1 {
		padding: 0;
		margin: 0;
	}
	
	.headermenu {
		display: none;
	}


	.headermenu a {
		font-size: 16px;
	}

	header h1 {
		padding: 0;
		margin: 0;
	}
	
	.burger__btn {
		display: flex
	}
}